@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-12">
        <h2>Service</h2>
        RESTful service for retrieving geolocation from IP address using MaxMind GeoLite2 and IP2Location Lite databases.
    </div>
    <div class="col-md-12">
        <h2>Endpoints</h2>
        <h3>MaxMind</h3>
        <pre>http://geoip.tech/api/maxmind?ipaddress={ip-address}</pre>
        <h3>IP2Location</h3>
        <pre>http://geoip.tech/api/ip2location?ipaddress={ip-address}</pre>
        Make a HTTP GET request to the endpoints to retrieve the IP address geolocation. Replace {ip-address} with the IP address to be searched.
    </div>
    <div class="col-md-12">
        <h2>Usage Example</h2>
        <pre>curl http://geoip.tech/api/maxmind?ipaddress=123.123.123.123</pre>
        <h3>Result Example</h3> 
        <pre>
        {
            "ipaddress":"123.123.123.123",
            "city":"Beijing",
            "country":"China",
            "latitude":39.9289,
            "longitude":116.3883
        }
        </pre>
        <h3>Error Example</h3>
        <pre>
        {
            "error_message":"Invalid IP address provided"
        }
        </pre>
    </div>
</div>
